<tr>
    <td class="avatar"><%= message.user.avatar %></td>
    <td class="name"><%= message.user.username %></td>
    <td class="timestamp"><%= message.created_at %></td>
    <td class="message"><%= message.content %></td>
</tr>