<h1>Chat App</h1>
<%= button_to "Sign in with Email / Password", signin_path, :method => "get"  %> 
<br>
<%= button_to "Sign in with Google", google_path, :method => "get", :disabled => true  %> 
<br>
<%= button_to "Sign in with Facebook", facebook_path, :method => "get", :disabled => true  %> 