<div class="user_container" onclick="window.location='users/<%= user.id %>'"> 
    <img src="<%= user.avatar %>">
    <span class="username">
        <%= user.username %>
    </span>
    <span class="chevron">
        ➤
    </span>
</div>