<div class="room_container" onclick="window.location='rooms/<%= room.id %>'">
    <span class="title">
        <%= room.title %>
    </span>
    <span class="description">
        <%= room.description %>
    </span>
    <span class="chevron">
        ➤
    </span>
</div>