<div class="room_container">
    <span class="title"><%= room.title %></span>
    <span class="description"><%= room.description %></span>
    <a href="rooms/<%= room.id %>">
        ➤
    </a>
</div>