<div id="input">
  <%= form_with(model: @message, remote: true) do |f| %>
    <%= f.text_field :content, id: 'chat-text', autocomplete: 'off' %>
    <%= f.submit data: { disable_with: false } %>
  <% end %>
</div>