<div id="input">
  <%= form_with(model: @message, url: room_messages_path(room_id: @room.id), local: true) do |form| %>
    <%= form.text_field :content, id: 'chat-text', autocomplete: 'off', required: true %>  
    <%= form.submit 'Send' %>
  <% end %>
</div>